.Home {
  background-color: #202b3e;
  color: white;
}
.Home header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.Home header #logo {
  margin-top: -50px;
  width: 300px;
  height: 300px;
}
.Home header h1 {
  font-size: 50pt;
  text-align: center;
  margin-top: -50px;
}
.Home header span {
  font-size: 16pt;
  text-align: center;
  max-width: 600px;
}
.Home main {
  background-color: white;
  color: #141b27;
  padding: 30px;
}
.Home #scrollLink {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 3px solid #6286c4;
  color: #6286c4;
  text-decoration: none;
  font-size: 30pt;
}
.Home #scrollLink:hover {
  transition: 0.2s all;
  border: 3px solid white;
  color: white;
}
.Home main ul {
  list-style: none;
  position: relative;
}
.Home main ul li {
  margin-left: 5px;
  font-size: 14pt;
}
.Home main ul li img.linkSvg{
  position: absolute;
  left: 20px;
  margin-top: 2px;
  width: 20px;
  height: auto;
}