div.vidrariaItem {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
div.vidrariaItem {
  text-align: justify;
}
div.vidrariaItem li {
  margin-bottom: 10px;
}
div.vidrariaItem img {
  width: 150px;
  height: auto;
}
@media (max-width: 500px) {
  div.vidrariaItem img {
    margin: 0 auto;
  }
}